*{
    box-sizing: border-box;
}

div{
    background-color: blue;
    text-align: center;
    padding: 20px;
    color: white;
}

@media (min-width:768px){
    div{
        background-color: green;
    }
}