*{
    box-sizing: border-box;
}

.lista{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    flex-direction: row;
    height: 50px;
    gap: 30px;
    color: white;
    background-color: #333333;
}

a{
    color: white;
    text-decoration: none;
}