*{
    box-sizing: border-box;
}

.galeria-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
        "1 2 3"
        "4 5 6";
    gap: 10px;
}

.galeria-grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #027BFF;
}