/*Modelo de caja con ancho total*/
* {
    box-sizing: border-box;
}
/* Estilos para la clase tarjeta */
.tarjeta {
            width: 300px;
            padding: 20px;
            border: 2px solid black;
            margin: 15px;
            background-color: #f0f0f0;
}